<h1>All Dialogues</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Dialogue</th>
      <th>Movie</th>
      <th>Nov Veg</th>
      <th colspan=3>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dialogues.each_with_index do |dialogue, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= dialogue.line %></td>
      <td><%= dialogue.movie %></td>
      <td><%= dialogue.nonveg %></td>
      <td><a href="/dialogues/<%= dialogue.id %>">View</a></td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <% end %>
    </tfoot>
</table>
<br>
<a href="/dialogues/new">Create new dialogue</a>
