<h1>All Dialogues</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Dialogue</th>
      <th>Actor Name</th>
      <th>Movie</th>
      <th>Nov Veg</th>
      <th colspan=3>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dialogues.each_with_index do |dialogue, i| %>
      <% if current_user.age > 12 || dialogue.user == current_user || !dialogue.nonveg %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= dialogue.line %></td>
          <td><%= dialogue.user.name %></td>
          <td><%= dialogue.movie %></td>
          <td><%= dialogue.nonveg %></td>
          <td><%= link_to  "View", dialogue_path(dialogue) %></td>

          <% if dialogue.user == current_user %>
          <td><%= link_to  "Edit", edit_dialogue_path(dialogue) %></td>
          <td><%= link_to  "Delete", dialogue_path(dialogue), method: :delete, data: { confirm: 'Are you sure?' }  %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    </tfoot>
</table>

<p>
  <%= link_to  "Create new dialogue", new_dialogue_path %>
</p>
