<h1>Create a new Dialogue</h1>

<% if @dialogue.errors.any? %>
<h2>The following errors prevented the dialogue being saved.</h2>

<ul>
  <% @dialogue.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_with scope: :dialogue, url: dialogues_path, local: true do |f| %>
<p>
  <%= f.label :line %>
  <%= f.text_area :line %>
</p>

<p>
  <%= f.label :movie %>
  <%= f.text_field :movie %>
</p>

<p>
  <%= f.label :nonveg %>
  <%= f.check_box :nonveg %>
</p>

<%= f.submit "Create Dialogue" %>
<% end %>

<%= link_to  "Back to dialogue list", dialogues_path %>
